
article {
    text-align: center;
    background-color: #FFC0CB;
    width: 45%;
    height: 25%;
    border-color: #386172;
    border-color: blue;
    border-radius: 15px;
    border-color: #061C37;
    border-width: 10px;
}
h3 {
	text-align: center;
}
