
article {
    text-align: center;
    background-color: activecaption;
    width: 40%;
    border-color: #386172;
    border-color: blue;
    border-radius: 10px;
    border-color: #061C37;
    border-width: 2px;
}
